<header class="Header">
    <nav class="header-nav">
        <div class="header-left">
            <ul class="header-links header-links-first-row">
                <li class="header-link"><a href="#">Careers</a></li>
                <li class="header-link"><a href="#">News & media</a></li>
                <li class="header-link"><a href="#">PDO-S</a></li>
                <li class="header-link"><a href="#">Knowledge World</a></li>
                <li class="header-link"><a href="#" class="active">Blow the Whistle</a></li>
                <li class="header-link"><a href="#">>العربية</a></li>
                <li class="header-link"><img draggable="false" src="./assets/images/search.png" alt=""></li>
            </ul>
            <ul class="header-links header-links-second-row">
                <li class="header-link"><a href="#">Who we are</a></li>
                <li class="header-link"><a href="#">Technical excellence</a></li>
                <li class="header-link"><a href="#">Sustainability</a></li>
                <li class="header-link"><a href="#">Creating value</a></li>
                <li class="header-link"><a href="#">Business with PDO</a></li>
                <li class="header-link rtl">RTL</li>
            </ul>
            <ul class="header-links"></ul>
        </div>
        <div class="header-content">
            <div class="logo-container">
                <div class="logo">
                    <img draggable="false" src="./assets/images/combinelogo.png" alt="">
                </div>
                <div class="close-menu">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="content-links first">
                <li class="content-link"><a href="#">Who we are</a></li>
                <li class="content-link"><a href="#">Technical excellence</a></li>
                <li class="content-link"><a href="#">Sustainability</a></li>
                <li class="content-link"><a href="#">Creating value</a></li>
                <li class="content-link"><a href="#">Business with PDO</a></li>
                <li class="content-link rtl">RTL</li>
            </ul>
            <ul class="content-links second">
                <li class="content-link"><a href="#">Careers</a></li>
                <li class="content-link"><a href="#">News & media</a></li>
                <li class="content-link"><a href="#">Al Fahal magazine</a></li>
                <li class="content-link"><a href="#">e-Services portal</a></li>
                <li class="content-link"><a href="#">عربي</a></li>
            </ul>
            <div class="contacts">
                <h5 class="title">Contact us</h5>
                <article class="description">Headquarters, Muscat, Siltanate of Oman</article>
                <article class="description">Postal office box 81, postal code 100</article>
                <article class="description">Telephone: + (00968) 24678111</article>
                <article class="description">Telex: 5212, Petro ON Cable: Petro Muscat.</article>
            </div>
            <div class="social">
                <h5 class="title">Follow us</h5>
                <div class="social-links">
                    <a href="#" class="social-link"><img draggable="false" src="./assets/images/facebook.png" alt=""></a>
                    <a href="#" class="social-link"><img draggable="false" src="./assets/images/instagram.png" alt=""></a>
                    <a href="#" class="social-link"><img draggable="false" src="./assets/images/twitter.png" alt=""></a>
                    <a href="#" class="social-link"><img draggable="false" src="./assets/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="open-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <figure class="logo">
                <img draggable="false" src="./assets/images/logo.png" alt="">
            </figure>
            <figure class="logo-text">
                <img draggable="false" src="./assets/images/logo-text.png" alt="">
            </figure>
            <figure class="logo-text-2">
                <img draggable="false" src="./assets/images/logo-text-2.png" alt="">
            </figure>
        </div>
    </nav>
    <div class="drop-menu">
        <div class="drop-menu-item">
            <div class="left">
                <img src="./assets/images/drop-menu-img1.png" alt="">
                <h3 class="title">Who we are</h3>
                <a href="#" class="link">Learn more</a>
            </div>
            <div class="right">
                <div class="grid-info-container">
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Overview</h5></div>
                        <ul class="links">
                            <li class="link"><a href="#">Our Aspiration & Value</a></li>
                            <li class="link"><a href="#">Our Journey</a></li>
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Our Corporate Governance</h5></div>
                        <ul class="links">
                            <li class="link"><a href="#">The Board of Directors</a></li>
                            <li class="link"><a href="#">Managing Director's Committee</a></li>
                            <li class="link"><a href="#">Shareholders' Commitee</a></li>
                            <li class="link"><a href="#">Legal & Ethics - Code of Conduc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="side-column-wrapper">
                    <div class="side-column">
                    <div class="title-wrapper"><h5 class="title">Mega Projects</h5></div>
                    <ul class="links">
                        <li class="link"><a href="#">YKP</a></li>
                        <li class="link"><a href="#">Rahab Harweel</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="drop-menu-item">
            <div class="left">
                <img src="./assets/images/drop-menu-img2.png" alt="">
                <h3 class="title">Technical Excellence</h3>
                <a href="#" class="link">Learn more</a>
            </div>
            <div class="right">
                <div class="grid-info-container">
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Enhanced Oil Recovery</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Diversity & Inclusion</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Lean</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Awards</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                </div>
                <div class="side-column-wrapper">

                    <div class="side-column">
                        <div class="title-wrapper"><h5 class="title">People</h5></div>
                        <ul class="links">
                            <li class="link"><a href="#">Working at PDO</a></li>
                            <li class="link"><a href="#">Fresh Graduates Scholarships</a></li>
                            <li class="link"><a href="#">Careers</a></li>
                            <li class="link"><a href="#">Pensioners</a></li>
                            <li class="link"><a href="#">Scholarships for Staff</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-menu-item">
            <div class="left">
                <img src="./assets/images/drop-menu-img3.png" alt="">
                <h3 class="title">Sustainability</h3>
                <a href="#" class="link">Learn more</a>
            </div>
            <div class="right">
                <div class="grid-info-container">
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Environment & Sustainability</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Nimr Reed Beds</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">HSE</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-menu-item">
            <div class="left">
                <img src="./assets/images/drop-menu-img4.png" alt="">
                <h3 class="title">Creating Value</h3>
                <a href="#" class="link">Learn more</a>
            </div>
            <div class="right">
                <div class="grid-info-container">
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">National Objectives</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Social Investment</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">In-Country Value</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Community Relations</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                </div>
                <div class="side-column-wrapper">

                    <div class="side-column">
                        <div class="title-wrapper"><h5 class="title">Knowledge World</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-menu-item">
            <div class="left">
                <img src="./assets/images/drop-menu-img5.png" alt="">
                <h3 class="title">Business with PDO</h3>
                <a href="#" class="link">Learn more</a>
            </div>
            <div class="right">
                <div class="grid-info-container">
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">PDO`S</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Vendor Registration</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">Manazil Project</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                    <div class="grid-info">
                        <div class="title-wrapper"><h5 class="title">E-Business Project</h5></div>
                        <ul class="links">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>