<section class="TimeLine">
    <div class="slider">
        <div class="slides">
            <div class="slide inactive active">
                <img class="slide-img" draggable="false" data-src="./assets/images/timeline.png" src="./assets/images/timeline.png" alt="">
                <h3 class="year">TIMELINE</h3>
                <p class="description">Historical Timeline of PDO between 1937 and 2016.</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive">
                <img class="slide-img" draggable="false" data-src="./assets/images/1937.png" src="./assets/images/1937.png" alt="">
                <h3 class="year">1937</h3>
                <p class="description">Sultan Said bin Taimur granted a 75-year concession to the Iraq Petroleum Company, which set up a subsidiary Petroleum Development (Oman and Dhofar) Ltd., to carry out the operations.</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/1951.png" alt="">
                <h3 class="year">1951</h3>
                <p class="description">Dhofar was relinquished from the concession; thereafter, the Company adopted the name, Petroleum Development (Oman).</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/1956.png" alt="">
                <h3 class="year">1956</h3>
                <p class="description">First exploration well was drilled in Fahud.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/1957.png" alt="">
                <h3 class="year">1957</h3>
                <p class="description">Dhofar-Cities Service, which had acquired the Dhofar concession, discovered the Marmul oilfield, but its development was judged to be commercially unviable.</p>
                <p class="loading">Loading...</p>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1962</h3>
                <p class="description">After drilling several more dry wells, oil was finally struck at Yibal.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1963/4</h3>
                <p class="description">The Natih and Fahud fields were discovered: an oil-producing nation was born.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1966</h3>
                <p class="description">A power plant was constructed at Fahud, a pipeline to the coast was laid, and an industrial complex at Saih Al Maleh (later renamed as Mina Al Fahal) was built.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1967</h3>
                <p class="description">The first export cargo of Omani oil - 543,800 barrels - was loaded onto a tanker.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1969</h3>
                <p class="description">Dhofar was regained as part of the Company's concession.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1970</h3>
                <p class="description">His Majesty Sultan Qaboos bin Said came to power.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1972</h3>
                <p class="description">Oil production reached 281,778 barrels per day.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1974</h3>
                <p class="description">The Government acquired a 60% stake in the Company.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            <div class="slide inactive lazy">
                <img class="slide-img" draggable="false" src="./assets/images/Spinner.png" data-src="./assets/images/timeline.png" alt="">
                <h3 class="year">1975/6</h3>
                <p class="description">Central Oman oilfields were brought on-stream, raising oil production to an average of 341,000 barrels per day.</p>
                <p class="loading">Loading...</p>
                <div class="frame"></div>
            </div>
            {{> ../Footer/index}}
        </div>
        <div class="scales">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
            <img src="./assets/images/scale.png" alt="">
        </div>
        <div class="buttons">
            <buton class="btn active">Beggining</buton>
            <buton class="btn">1937</buton>
            <buton class="btn">1951</buton>
            <buton class="btn">1956</buton>
            <buton class="btn">1957</buton>
            <buton class="btn">1962</buton>
            <buton class="btn">1963/4</buton>
            <buton class="btn">1966</buton>
            <buton class="btn">1967</buton>
            <buton class="btn">1969</buton>
            <buton class="btn">1970</buton>
            <buton class="btn">1972</buton>
            <buton class="btn">1974</buton>
            <buton class="btn">1975/6</buton>
        </div>
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
    </div>
</section>