<footer class="Footer">
    <div class="navigation">
        <nav class="nav">
            <ul class="nav-column">
                <li class="nav-link nav-link-title">Explore PDO</li>
                <li class="nav-link"><a href="#" class="link">Overview</a></li>
                <li class="nav-link"><a href="#" class="link">HSE</a></li>
                <li class="nav-link"><a href="#" class="link">Business with PDO</a></li>
                <li class="nav-link"><a href="#" class="link">People</a></li>
                <li class="nav-link"><a href="#" class="link">Careers</a></li>
            </ul>
            <ul class="nav-column">
                <li class="nav-link nav-link-title">Other websites</li>
                <li class="nav-link"><a href="#" class="link">PDOs</a></li>
                <li class="nav-link"><a href="#" class="link">Knowledge world</a></li>
            </ul>
            <ul class="nav-column">
                <li class="nav-link nav-link-title">Employee services</li>
                <li class="nav-link"><a href="#" class="link">PDO staff</a></li>
                <li class="nav-link"><a href="#" class="link">Self-service password reset</a></li>
            </ul>
            <ul class="nav-column">
                <li class="nav-link nav-link-title">Contact us</li>
                <li class="contacts-link">
                    <span class="contact-title">Headquarters</span>
                    <span class="contact-info">Muscat, Siltanate of Oman</span>
                </li>
                <li class="contacts-link">
                    <span class="contact-title">Telephone:</span>
                    <span class="contact-info"><a href="tel:+">+ (00968) 24678111</a></span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="social-links">
        <div class="left">
            <a href="#" class="link">
                <img draggable="false" src="./assets/images/facebook.png" alt="">
            </a>
            <a href="#" class="link">
                <img draggable="false" src="./assets/images/instagram.png" alt="">
            </a>
            <a href="#" class="link">
                <img draggable="false" src="./assets/images/twitter.png" alt="">
            </a>
            <a href="#" class="link">
                <img draggable="false" src="./assets/images/linkedin.png" alt="">
            </a>
        </div>
        <div class="right">
            <img draggable="false" src="./assets/images/logo.png" alt="">
            <img draggable="false" src="./assets/images/logo-text-2.png" alt="">
        </div>
    </div>
</footer>