$red: red;
$green: #019748;
$grey: #848484;
$section-width: 1360px;
$section-height: 880px;
$section-background: #1D1F22;;
// ==== fonts =====
$lexend: 'Lexend', sans-serif;
$inter: 'Inter', sans-serif;
$readex: 'Readex Pro', sans-serif;
//===== Btn =====
$btn-color: #019748;

// use variables of css 
:root {
    --blue: blue;
}
